@import url("https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@100;300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  margin: 0%;
  padding: 0%;
  border: 0;
}

body {
  font-family: "Ysabeau SC", serif;
  background-color: #212426;
}
